VITE_SUPABASE_URL=https://ijheukynkppcswgtrnwd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqaGV1a3lua3BwY3N3Z3RybndkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NDM3OTEsImV4cCI6MjA3ODAxOTc5MX0.6t0sHi76ORNE_aEaanLYoPNuIGGkyKaCNooYBjDBMM4
VITE_TINY_API_TOKEN=your_tiny_token
VITE_VNDA_API_TOKEN=your_vnda_token
VITE_META_ACCESS_TOKEN=your_meta_token
VITE_META_PHONE_NUMBER_ID=your_phone_id